<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
</head>
<body>
    <section id="tribute-info">
        <h3 id="headline"> Here is a timeline of his marathon's laps:</h3>
    <ul>
        <li>1985 - Born in Los Angeles, CA.</li>
        <li>2019 - Tragically assasinated in his property on March 31st.</li>
    </ul>
        <q>The Highest Human Act is to Inspire</q> <cite>Nipsey Hussle</cite>
      </section>
</body>
</html>