<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </nav>

    <main id="main">
        <h1 id="title">Ermias "Nipsey Hu$$le" Asghedom</h1>
        <h2 id="subtitle">When a Crenshaw local inspires millions of people.</h2>
   
        <div id="img-div">
          <img id= "image" src = https://images.wave.fr/images/nipsey-hussle.jpg alt= "Headshot of topless Nipsey Hussle from the back looking up to the sky with a reversed blue bandana on his head">
          <figcaption id="img-caption">As a community leader, here Nipsey Hussle looks thoughtful yet concerned with his eyes on the helicopter flying over his neighborhood.</figcaption>
        </div>
    </main>
</body>
</html>