<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
</head>
<body>
    <h3>As a last tribute to his genius and unique vision, once you have one-hour free, make sure to check his posthumous <a id= "tribute-link" target= "_blank" href= "https://www.youtube.com/watch?v=z35lDvrFtjo">visual album experience</a> in order to get a closer look at the places and process that went into creating Nipsey's 2010 masterpiece.</h3>
    
      <iframe src="https://open.spotify.com/embed/track/6hkQ6OQ6nhe7QCckH91aGa" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</body>
</html>